n8n/lead-qualification-workflow.json
{
    "name": "Lead Qualification Automation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lead-webhook",
          "responseMode": "responseNode",
          "options": { "rawBody": true }
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "webhookId": "lead-qualification-intake"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ENRICH_API_URL || 'http://api:8000' }}/enrich-lead",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.body) }}",
          "options": {
            "timeout": 60000,
            "retry": { "maxTries": 3, "waitBetweenTries": 2000 }
          }
        },
        "id": "http-enrich-1",
        "name": "Enrich Lead",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [460, 300],
        "onError": "continueErrorOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "qualified-check",
                "leftValue": "={{ $json.qualified }}",
                "rightValue": true,
                "operator": { "type": "boolean", "operation": "equals" }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-qualified-1",
        "name": "Is Qualified?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [680, 300]
      },
      {
        "parameters": {
          "channel": "={{ $env.SLACK_CHANNEL || '#leads' }}",
          "text": "=✅ *Qualified Lead*\n\n*Name:* {{ $json.lead.name || 'N/A' }}\n*Email:* {{ $json.lead.email || 'N/A' }}\n*Phone:* {{ $json.lead.phone || 'N/A' }}\n*Score:* {{ $json.score }}\n*Reasons:* {{ $json.reasons.join(', ') }}\n*Budget:* {{ $json.lead.budget || 'N/A' }}\n*Intent:* {{ $json.lead.intent || 'N/A' }}\n*Urgency:* {{ $json.lead.urgency || 'N/A' }}",
          "otherOptions": {}
        },
        "id": "slack-1",
        "name": "Slack Notification",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [900, 160],
        "credentials": {
          "slackApi": {
            "id": "SLACK_CREDENTIAL_ID",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.GOOGLE_SHEET_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "list",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Name": "={{ $json.lead.name }}",
              "Email": "={{ $json.lead.email }}",
              "Phone": "={{ $json.lead.phone }}",
              "Score": "={{ $json.score }}",
              "Qualified": "=true",
              "Reasons": "={{ $json.reasons.join('; ') }}",
              "Budget": "={{ $json.lead.budget }}",
              "Intent": "={{ $json.lead.intent }}",
              "Urgency": "={{ $json.lead.urgency }}",
              "Industry": "={{ $json.lead.industry }}",
              "ProcessedAt": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [],
            "schema": []
          },
          "options": {}
        },
        "id": "sheets-qualified-1",
        "name": "Google Sheets (Qualified)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [1120, 160],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.GOOGLE_SHEET_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "list",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Name": "={{ $json.lead.name }}",
              "Email": "={{ $json.lead.email }}",
              "Phone": "={{ $json.lead.phone }}",
              "Score": "={{ $json.score }}",
              "Qualified": "=false",
              "Reasons": "={{ $json.reasons.join('; ') }}",
              "Budget": "={{ $json.lead.budget }}",
              "Intent": "={{ $json.lead.intent }}",
              "Urgency": "={{ $json.lead.urgency }}",
              "Industry": "={{ $json.lead.industry }}",
              "ProcessedAt": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [],
            "schema": []
          },
          "options": {}
        },
        "id": "sheets-cold-1",
        "name": "Google Sheets (Cold)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [1120, 440],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": { "responseCode": 200 }
        },
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [1340, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { error: $json.message || 'Enrichment failed', statusCode: $json.httpCode || 502 } }}",
          "options": { "responseCode": "={{ $json.httpCode || 502 }}" }
        },
        "id": "respond-error-1",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [680, 500]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [[{ "node": "Enrich Lead", "type": "main", "index": 0 }]]
      },
      "Enrich Lead": {
        "main": [[{ "node": "Is Qualified?", "type": "main", "index": 0 }]],
        "error": [[{ "node": "Respond Error", "type": "main", "index": 0 }]]
      },
      "Is Qualified?": {
        "main": [
          [{ "node": "Slack Notification", "type": "main", "index": 0 }],
          [{ "node": "Google Sheets (Cold)", "type": "main", "index": 0 }]
        ]
      },
      "Slack Notification": {
        "main": [[{ "node": "Google Sheets (Qualified)", "type": "main", "index": 0 }]]
      },
      "Google Sheets (Qualified)": {
        "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
      },
      "Google Sheets (Cold)": {
        "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "retryOnFail": true,
      "maxExecutionTime": 120
    },
    "staticData": null,
    "meta": { "templateCredsSetupCompleted": false },
    "pinData": {},
    "active": false,
    "tags": []
  }